<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



  <div class="card-container">

    <p-table [value]="accounts">
      <ng-template pTemplate="header">
          <tr>
            <th>STT</th>
            <th>ID</th>
            <th>Tên khách hàng</th>
            <th>Ngày sinh</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Loại yêu cầu</th>
            <th>gói cước SD</th>
            <th>Hành động</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-account let-index>
          <tr>
              <td>{{index}}</td>
              <td>{{account.id}}</td>
              <td>{{account.name}}</td>
              <td>{{account.dateofbirth}}</td>
              <td>{{account.phonenumber}}</td>
              <td>{{account.email}}</td>
              <td>{{account.address}}</td>
              <td>{{account.request}}</td>
              <td>{{account.usingpack}}</td>
              <td style="text-align:center">
              <button pButton (click)="editAccount(account)">EDIT</button>
              </td>
          </tr>
      </ng-template>
      <style></style>
    </p-table>
    <button pButton (click)="createAccount()">ADD</button>
    <button pButton (click)="updateAccount()">UPDATE</button>
    <button pButton (click)="deleteAccount()">DELETE</button>
    <button pButton (click)="changePW()">CHANGE PW</button>
    <button pButton (click)="getAccounts()">Search</button>

    <br />
    <div>
      <label>Nhập ID: </label>
      <input type="number" pInputText [(ngModel)]="account.id"/>
    </div>
    <div>
      <label>Nhập họ tên: </label>
      <input type="text" pInputText [(ngModel)]="account.name"/>
    </div>
    <div>
      <label>Nhập ngày sinh: </label>
      <input type="text" pInputText [(ngModel)]="account.dateofbirth"/>
    </div>
    <div>
      <label>Nhập SDT: </label>
      <input type="text" pInputText [(ngModel)]="account.phonenumber"/>
    </div>
    <div>
      <label>Nhập Email: </label>
      <input type="text" pInputText [(ngModel)]="account.email"/>
    </div>
    <div>
      <label>Nhập địa chỉ: </label>
      <input type="text" pInputText [(ngModel)]="account.address"/>
    </div>
    <div>
      <label>Nhập loại yêu cầu: </label>
      <input type="text" pInputText [(ngModel)]="account.request"/>
    </div>
    <div>
      <label>Nhập gói cước: </label>
      <input type="text" pInputText [(ngModel)]="account.usingpack"/>
    </div>
    
    
</div> 
